.course-activity-items{
    background: radial-gradient(circle at center, #c3d6f5, #a3c7f2);
}
.course-activity-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.course-activity-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

.activity-id {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}

.activity-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.date-range {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #666;
}

.start-date,
.end-date {
    flex-basis: auto;
}