.task-card {
    background-color: #fcefe3;
    border-radius: 10px;
    padding: 20px;
    width: fixed;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
}

.label {
    background-color: #ffe4c4;
    color: #d07d00;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.content {
    margin-top: 40px;
}

.content h2 {
    color: #333;
    font-size: 1.5em;
}

.content p {
    color: #666;
}

.learn-more {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
}

.learn-more:hover {
    text-decoration: underline;
}
