#logo {
    width: 100%;
}
#btn-show-more {
    padding: 15px 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    border-radius: 5px;
    margin: 2% 47%;
}
.btn-1 {
    background-color: #e74c3c;
}
.btn-1:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}
#job-block{
    border-style: solid;
    border-width: 1px;
    border-color: #86868652;

    padding: 3%;

}
#p-job,#p-location{
    font-size: 1.5rem;
}