.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Đặt nền đen bán trong suốt */
    backdrop-filter: blur(2px); /* Hiệu ứng làm mờ */
    z-index: 1050; /* Đảm bảo popup nằm trên cùng */
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .popup-entering {
    opacity: 0;
  }
  
  .popup-entered {
    opacity: 1;
  }
  
  .popup-exiting {
    opacity: 0;
  }
  .popup-content {
    position: relative;
    z-index: 1060;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .popup-content{
    padding: 5% 50px;
    transition: all 0.2s ease-out;

  }
  .popup-content h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  #x-button{
    margin: 10px;
    cursor: pointer;
  }
  .close-button{
    margin-bottom: 20px;
  }
  .popup-entered .popup-content {
    transform: scale(1);
  }
  
  .popup-exiting .popup-content {
    transform: scale(0.2);
  }
  @media (max-width: 575.98px) {
    .popup-content{
      padding: 5% 10%;  
      width: 80%;
    }
    .popup-content h2{
      font-size: 1.5rem;
    }
    .close-button{
    }
    #input{
      margin-bottom: 20%;
    }
  }