/* LoadingSpinner.module.css */
:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 90%);
    --fg: hsl(var(--hue), 90%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (32 - 16) * (100vw - 320px) / (2560 - 320));
  }
  
  .loadingContainer {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: background-color var(--trans-dur), color var(--trans-dur);
  }
  
  .bike {
    display: block;
    width: 16em;
    height: auto;
  }
  
  .bikeBody,
  .bikeFront,
  .bikeHandlebars,
  .bikePedals,
  .bikePedalsSpin,
  .bikeSeat,
  .bikeSpokes,
  .bikeSpokesSpin,
  .bikeTire {
    animation: bikeBody 3s ease-in-out infinite;
    stroke: var(--primary);
    transition: stroke var(--trans-dur);
  }
  
  .bikeFront {
    animation-name: bikeFront;
  }
  
  .bikeHandlebars {
    animation-name: bikeHandlebars;
  }
  
  .bikePedals {
    animation-name: bikePedals;
  }
  
  .bikePedalsSpin {
    animation-name: bikePedalsSpin;
  }
  
  .bikeSeat {
    animation-name: bikeSeat;
  }
  
  .bikeSpokes,
  .bikeTire {
    stroke: currentColor;
  }
  
  .bikeSpokes {
    animation-name: bikeSpokes;
  }
  
  .bikeSpokesSpin {
    animation-name: bikeSpokesSpin;
  }
  
  .bikeTire {
    animation-name: bikeTire;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 90%, 10%);
      --fg: hsl(var(--hue), 90%, 90%);
    }
  }
  
  @keyframes bikeBody {
    from {
      stroke-dashoffset: 79;
    }
  
    33%,
    67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -79;
    }
  }
  
  @keyframes bikeFront {
    from {
      stroke-dashoffset: 19;
    }
  
    33%,
    67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -19;
    }
  }
  
  @keyframes bikeHandlebars {
    from {
      stroke-dashoffset: 10;
    }
  
    33%,
    67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -10;
    }
  }
  
  @keyframes bikePedals {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: -25.133;
    }
  
    33%,
    67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -21.991;
    }
  
    to {
      stroke-dashoffset: -25.133;
    }
  }
  
  @keyframes bikePedalsSpin {
    from {
      transform: rotate(0.1875turn);
    }
  
    to {
      transform: rotate(3.1875turn);
    }
  }
  
  @keyframes bikeSeat {
    from {
      stroke-dashoffset: 5;
    }
  
    33%,
    67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -5;
    }
  }
  
  @keyframes bikeSpokes {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: -31.416;
    }
  
    33%,
    67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -23.562;
    }
  
    to {
      stroke-dashoffset: -31.416;
    }
  }
  
  @keyframes bikeSpokesSpin {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(3turn);
    }
  }
  
  @keyframes bikeTire {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: 56.549;
      transform: rotate(0);
    }
  
    33% {
      stroke-dashoffset: 0;
      transform: rotate(0.33turn);
    }
  
    67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: 0;
      transform: rotate(0.67turn);
    }
  
    to {
      stroke-dashoffset: -56.549;
      transform: rotate(1turn);
    }
  }
  
  .container {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #FEE140 0%, #FA709A 50%, #E85A94 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 68%;
    left: 43.3%;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  